.service-title {
    letter-spacing: 8px;
    letter-spacing: 0.5rem;
  }
  .service-text {
    word-spacing: 2px;
    
  }

  .skillsback{
    min-height: calc(100vh - 76px);
    background: url("/images/skills.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
  }

  .calendarback{
    min-height: calc(100vh - 76px);
    background: url("/images/calendar1.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
  }

  .complaintback{
    min-height: calc(100vh - 76px);
    background: url("/images/complaint1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
  }

  .calendarbacktext{
    padding-top: 200px;
  }

  p {
    text-align: justify;
    text-justify: auto;
  }